body {
	margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0 none;
}

.body-wrapper {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 0px;
  width: 1200px;
  margin: 0 auto;        
}

.main-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 15px 70px;          
	font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;     
}

.main-nav-list-left,
.main-nav-list-right {    
  display: inline-flex;
  justify-content: space-between;
  padding: 0;    
  margin: 0;    
  list-style: none;
  width: 459px;    
} 

.main-nav-list-left .main-nav-item {
  width: 218px;
  text-align: left;    
}

.main-nav-list-right .main-nav-item {
  width: 218px;
  text-align: right;    
}


.main-header-logo { 
  width: 138px;
  height: 70px;       
  position: absolute;
  top: 0;
  left: 530px;    
  z-index: 1;    
}

.features-list,
.social-list,
.sorting-list,
.searched-list {
	list-style: none;
}

.main-nav-link{
	color: #000000;
	font-weight: 700;
}

.main-nav-link:hover,
.main-nav-link:focus {
	color: #81b3d2;
  outline: 0 none;
}

.main-nav-link:active {
	color: #000000;
	opacity: 0.3;
}

.main-nav-link:visited {
	color: #766357;
}

.container {
  width: 1200px;
  margin: 0 auto; 
}

.main-image {
  position: relative;
  padding-top: 76px;
  margin-bottom: 57px;
  width: 1200px;
  min-height: 510px;     
  box-sizing: border-box;
	background-image: url("../img/promo-background-1200.jpg");
  background-position: 0 -57px;
  background-repeat: no-repeat;
}

.main-image::after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 57px;     
  background-image: url("../img/promo-shape-1200.png");
  background-repeat: no-repeat;    
  bottom: 0;
  left: 0;
}	

.promo-img {
  display: block;
  margin: 0 auto;
}

.main-head-reason {    
  margin-bottom: 50px;
}

.main-head {
  width: 440px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;  
	font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.main-reason {
  padding: 0;    
  margin: 0 auto;
  width: 500px;
}

.main-reason,
.hotels-search-text {
	font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.reasons {
  display: flex;       
  margin: 0;
  padding: 0;       
	background-color: #81b3d2;
	text-align: center;
	color: #ffffff;
}

.town,
.bridge {
  position: absolute;
  left: 0;
  top: -78px;
}

.reasons-town {
  margin-bottom: 60px;
}


.reasons-bridge {
  margin-bottom: 0px;
}   

.reasons-bridge .reasons-text {
  order: 1;
}

.reasons-text {
  width: 400px;        
}

.reasons-photo {
  position: relative;
  width: 800px;    
  overflow: hidden;
} 

.reasons-name {
  width: 151px;
  text-align: center;    
  margin: 0 auto;
  margin-bottom: 25px;     
  padding-top: 45px;     
	font-size: 21px;
  line-height: 21px;
  font-weight: 700;    
}

.reasons-town .reasons-description {
  width: 280px;
  text-align: center;
  margin: 0 auto;    
  margin-top: 24px;    
  padding-bottom: 60px; 
}

.reasons-bridge .reasons-description {
  width: 305px;
  text-align: center;
  margin: 0 auto;
  margin-top: 22px;    
  padding-bottom: 60px; 
}

.features-list{
  display: flex;    
  padding: 0;    
  text-align: center;    
  margin-bottom: 82px;      	
}

.features-item {
  width: 400px;       
}

.features-item:nth-child(1) {
  background-image: url("../img/icon-1.svg");
  background-size: 75px 72px;
  background-repeat: no-repeat;
  background-position: top center;
}

.features-item:nth-child(2) {
  background-image: url("../img/icon-3.svg");
  background-size: 74px 70px;
  background-repeat: no-repeat;
  background-position: top center;
}

.features-item:nth-child(3) {
  background-image: url("../img/icon-2.svg");
  background-size: 64px 76px;
  background-repeat: no-repeat;
  background-position: top center;
}

.features-item h3 {
  position: relative;
  margin: 0;
  padding-bottom: 25px;
  margin-top: 100px;             
	font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.features-item p {
  width: 290px;
  margin: 0 auto;               
}

.grey-features-list{
  display: flex;    
  padding: 0;
  margin: 0; 
  background-color: #eeeeee;   
  text-align: center;    
  margin-bottom: 50px;        
}

.grey-features-item {
  width: 400px;
  list-style: none;
}

.grey-features-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  width: 120px;    
  margin: 0 auto;
  margin-top: 45px;
  padding-bottom: 25px;
}

.grey-features-item p {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 60px;
  margin-top: 22px;
  width: 266px;
}

.hotels-search {    
  padding: 0;
  margin: 0;    
	text-align: center;
}

.hotels-search-header {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 22px;
	font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;    
}

.hotels-search-text {
  width: 440px;
  padding: 0;
  padding-bottom: 45px;
  margin: 0 auto;
}

.hotels-search-button {
  width: 570px;
	padding: 30px;	 
  font-size: 21px;
  line-height: 26px;	
  text-align: center;
  font-weight: 700;
  color: #ffffff;    
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  outline: none;
}

.hotels-search-button:hover,
.hotels-search-button:focus {
	background-color: #604e43;	
}

.hotels-search-button:active {
  color: rgba(255, 255, 255, 0.3);	 
	background-color: #503e33;		
}

.modal-form {
  position: relative;
}

.modal-search {
  position: absolute;
  top: 86px;
  left: 315px;
  z-index: 1;
  display: none;    
}

.modal-show {
  display: block;
}

.hotels-search-form {    
  display: flex;
  flex-wrap: wrap;          
  width: 460px;    
  margin: 0 auto;
  padding: 56px 53px;
  background-color: #ffffff;	
}

.hotels-search-item {    
  display: inline-flex;
  position: relative;
  justify-content: space-between;   
  margin: 0 auto;  
}

.hotels-search-item:nth-child(1),
.hotels-search-item:nth-child(2) {
  width: 460px;    
  margin-bottom: 33px;
}

.hotels-search-item:nth-child(3), 
.hotels-search-item:nth-child(4) {
  width: 230px;
  margin-bottom: 53px;
}

.hotels-search-item:nth-child(1) input,
.hotels-search-item:nth-child(2) input {      
  width: 346px;     
  box-sizing: border-box;  
  padding-left: 13px;
  padding-right: 35px;   
}

.input-wrapper {
  width: 346px;
  padding: 0;
  margin: 0;
  display: flex;    
}

.hotels-search-item:nth-child(3) .input-wrapper,
.hotels-search-item:nth-child(4) .input-wrapper {
  width: 115px;
  padding: 0;
  margin: 0;
  display: flex;
} 

.celendar {
  position: absolute;
  background-color: rgba(255,255,255,0);  
  padding: 0;
  border: none;
  outline: none;
  left: 430px;
  top: 8px;
  width: 21px;
  height: 22px;
  cursor: pointer;
}

.celendar path {
  fill: #cacaca;
}

.celendar:hover path,
.celendar:focus path {
  fill: #000000;
}

.celendar:active path {
  fill: #81b3d2;
}

.hotels-search-item .search-label {   
  padding: 5px;   
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;  
}

.hotels-search-item:nth-child(4) label {    
  padding-left: 55px;
}

.hotels-search-item:nth-child(3) input,
.hotels-search-item:nth-child(4) input {
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
  width: 115px;
  text-align: center;        
}

.hotels-search-form input {	
	color: #000000;
	font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;	
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.plus,
.minus {   
  background-color: rgba(255,255,255,0);    
  padding: 0;
  border: none;
  outline: none;
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.minus {
  position: absolute;
  left: 112px;
  top: 0px;    
}

.plus {
  position: absolute;
  left: 190px;
  top: 0px;
}

.minus::before {
  content: "";
  position: absolute;   
  width: 12px;
  height: 3px;
  top: 18px;
  left: 15px;      
  background-color: #a9a9a9;
}

.plus::before {
  content: "";
  position: absolute;   
  width: 12px;
  height: 3px;
  top: 18px;
  left: 15px;  
  background-color: #a9a9a9;
}

.plus::after {    
  content: "";
  position: absolute;   
  width: 12px;
  height: 3px;
  top: 18px;
  left: 15px; 
  background-color: #a9a9a9;
  transform: rotate(90deg)
}

.plus:hover::after,
.plus:hover::before,
.minus:hover::before,
.plus:focus::after,
.plus:focus::before,
.mines:focus::before {
  background-color: #000000;
}

.plus:active::after,
.plus:active::before,
.minus:active::before {
  background-color: #81b3d2;
}


.hotels-search-form input::-webkit-input-placeholder { 
	color: #000000 ; 
}

.hotels-search-form input::-moz-placeholder { 
	color: #000000; 
}

.hotels-search-form input:hover {
	background-color: #ebebeb;
}

.hotels-search-form input:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}

.search-button {
  width: 460px;    
	padding: 17px;
  font-size: 21px;
  line-height: 26px;	
  text-align: center;
  font-weight: 700;
  color: #ffffff;    
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  outline: none;
}

.search-button:hover {
	background-color: #669ec0;
}

.search-button:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;	
}

.main-footer {
  display: flex;
  position: absolute;
  bottom: 0;    
  width: 1200px;                   
  padding-top: 38px;   
  background-color: rgba(255, 255, 255, 0.9);    
  padding-bottom: 40px;     	
}

.footer-hashtag {
  width: 135px;    
	font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;    
  margin-right: 257px;
  margin-left: 132px;
  padding-top: 8px;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 150px;
  justify-content: space-between;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {    
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);   
}

.developer-contact { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-left: auto;
  margin-right: 100px;    
	font-size: 14px;
  line-height: 26px;
  font-style: normal;	
}

.developer-contact p {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;  
}

.developer-link:hover path,
.developer-link:focus path {
  fill: #91bdd8;
}

.developer-link:active path {
  fill: #bdbbbc;
}

.hotels-filter-form {
  display: flex;
  padding-left: 68px;
  padding-right: 72px;
  padding-top: 27px;
  padding-bottom: 30px;
  margin-bottom: 30px;      
  box-sizing: border-box;
	background-image: url("../img/filter-background-1200.jpg");
	background-position: top center;
  background-repeat: no-repeat;
  background-size: 1200px 800px;     
}

.filters-fieldset {          
  padding: 0;
  margin-right: 115px;
}

.filters-fieldset legend {     
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters-label {  
  display: flex;
  justify-content: space-between;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  padding-left: 42px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

.filters-label:last-child {
  margin: 0;
}

.filters-label input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;      
  width: 30px;
  height: 30px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: center; 
}

.filters-label input[type="checkbox"]:checked + .checkbox-indicator {  
  position: absolute;
  top: -3px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.filter-range {
  margin: 0;
  padding: 0;    
  width: 320px;
  margin-left: auto;
  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;  
  height: 34px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;  
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;  
  font-size: 14px;
  margin: 0;  
  line-height: 38px;  
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  min-height: 38px;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
  text-align: center;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.catalog {
  padding: 0;
  margin: 0;
  padding-bottom: 125px;    
}

.sorting {
  display: flex;        
  padding: 0 72px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;        
}

.search-result {    
  margin: 0;    
  margin-right: 48px;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotels-number {
  display: inline-block;
  padding-left: 6px;
}

.sorting-title { 
  margin: auto 0; 
  padding-right: 38px;
  padding-top: 5px;   
  color: #000000;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list {    
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-top: 4px; 
  width: 240px;  
}

.sorting-list a {    
  margin: 0;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border: none;
}

.sorting-list a:visited {
  color: #81b3d2;
  border: none;
}

.sorting-arrow {
  display: flex;
  justify-content: space-between;
  width: 35px;
  margin-left: 500px;
  padding-top: 5px; 
}

.sorting-arrow path:hover,
.sorting-arrow path:focus {
  fill: #231f20;
}

.sorting-arrow path:active,
.sorting-arrow path:visited {
  fill: #81b3d2;
}

.searched-list {  
  width: 1200px;    
  margin: 0;
  padding: 0;    
}

.searched-item {     
  display: flex;    
  position: relative;   
}

.hotel-img {
  padding-top: 5px;
}


.hotel-name {    
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 0 72px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;   
}

.hotel-main-inf {    
  display: flex;
  width: 425px;
}

.hotel-description {   
  margin-left: 30px;       
}

.hotel-description h3 {
  margin: 0;          
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-inf {     
  display: flex;
  justify-content: space-between;       
  width: 183px;         
}

.info-item {
  margin: 0;  
  margin-top: 8px;
  margin-bottom: 13px;
}

.hotel-action {
  display: flex;
  width: 258px;
  justify-content: space-between;
}

.info-btn-1 {
  display: inline-block;
  box-sizing: border-box;
  width: 110px;
  padding: 3px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;    
  background-color: #81b3d2;    
  color: #ffffff;    
}

.info-btn-1:hover,
.info-btn-1:focus {
  background-color: #669ec0;
}

.info-btn-1:active {
  color: rgba(255, 255, 255, 0.3)
}

.info-btn-2 {
  display: inline-block;    
  text-align: center;
  box-sizing: border-box;
  width: 142px;
  padding: 3px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;    
  background-color: #766357;    
  color: #ffffff;    
}

.info-btn-2:hover,
.info-btn-2:focus {
  background-color: #604e43;
}

.info-btn-2:active {
  color: rgba(255, 255, 255, 0.3)
}

.hotel-rating {   
  padding: 0;
  margin: 0;
  display: flex;
  width: 115px;     
  flex-direction: column;       
}

.rating-list {     
  display: flex;
  padding: 0;    
  padding-top: 5px;
  list-style: none;
  width: 110px;    
  margin-bottom: 42px;
  justify-content: flex-end;
}

.rating-item {     
  padding: 0;
  margin: 0;
  text-align: right;
  padding-left: 5px;    
}

.rating {        
  display: inline-block;    
  padding: 3px 0;
  margin: 0;
  text-align: right;
  padding-right: 12px;
  box-sizing: border-box;
  width: 110px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;    
  background-color: #f2f2f2;    
  color: #000000;
}

